/* --------------*/
/* ==   MENU2    */
/*---------------*/

.menu__content--2 {
    background-color: $menu2-color--background;
    font-family: $menu2-typography--content;
    padding: 5em 2em;
    @include small_device {
        padding: 7em 4em 12em 4em; 
    }
    p {
        background: linear-gradient(to right, $menu2-color--1, $menu2-color--3);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-family: $menu2-typography--title;
        font-size: 1.3em;
        text-align: center;
        @include small_device {
          margin-bottom: 2em;
          font-size: 2em;
        }
        @include large_device {
            padding: 3.4em;
        }
    }
    header {
        background-color: $menu2-color--background;
        margin-bottom: 0;
        @include medium_device {
            margin-bottom: 3em;
        }        
    }
    .menu__header--title {
        font-size: 1.2em;
        font-weight: 500;
        @include small_device {
            font-size: 1.8em;
        }
    }
    ul {
       margin-bottom: 1.7em;
       font-size: 1em;
    }
    section:nth-of-type(1) {
        color: $menu2-color--1;
        h3::before,
        h3::after,
        span:hover::after {
          background: $menu2-color--1;
      }
    }
    section:nth-of-type(2) {
        color: $menu2-color--2;
        .menu__header--title::before, 
        .menu__header--title::after, 
        span:hover::after {
            background: $menu2-color--2;
        }
    }
    section:nth-of-type(3) {
        color: $menu2-color--3;
        .menu__header--title::before,
        .menu__header--title::after,
        span:hover::after {
          background: $menu2-color--3;
      }
  }
  .starter-dish__content, 
  .dish__content, 
  .dessert__content {
      @include small_device {
          padding: 0 5em;
          margin-bottom: 0;
      }
  }
}
