/* --------------*/
/* ==   MENU1    */
/*---------------*/

.menu__content--1 {
    background-color: $menu1-color--background;
    color: $typography-color;
    font-family: $menu1-typography--content;
    padding: 5em;
    .fa-music {
        background: linear-gradient(to right, $note-color--1, $note-color--2);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    .menu__content--title > .fa-music {
        font-size: 3em;
        @include small_device {
            font-size: 5em;
        }
    }
    h3 {
        font-size: 2.2em;
        @include small_device {
          font-size: 3.5em;
        }
    }
    h3,
    h5 {
        font-family: $menu1-typography--title;
  }
    h4 {
        font-size: 1.5em;
        @include small_device {
            font-size: 2.2em;
      }
   }
    h4::before, 
    h4::after, 
    span:hover::after {
        background: $menu1-color;
    }
    h5 {
        font-size: 2em;
        @include small_device {
            font-size: 3em;
        }
    }
    ul {
        font-size: 1em;
        margin-bottom: 1em;
        @include small_device {
            font-size: 1.5em;
        }
    }
    .menu__content--footer {
        align-items: center;
        display: flex;
        justify-content: center;
        .fa-music {
            font-size: 2em;
            margin-right: .7em;
            @include small_device {
                font-size: 3em;
            }
        }
    }
}