/* ---------------------------*/
/* ==   MENUS GLOBAL ITEMS    */
/*----------------------------*/

.menu {
    display: flex;
    justify-content: center;
    .menu__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 6.5em;
        @include medium_device {
            margin-bottom: 12em;
        }    
        .menu__title {
            font-size: 1.6em;
            font-weight: 500;
            margin-bottom: 1em;
            padding: 0 1.5em;
            text-align: center;
            text-shadow: 1px 1px 1px $shadow-color;
            @include small_device {
                font-size: 1.8em;
            }
            @include large_device {
                margin-top: 1em;
                font-size: 2.5em;
            }
        }
        .menu__content {
            box-shadow:  $box-shadow-color;
            display: flex;
            flex-direction: column;
            width: 96vw;
            padding: 0.5em;
            @include small_device {
                padding: 1em;
            }
            @include large_device {
                width: 65vw;
                padding: 0 2em; 
            }
            @include extra_large_device {
                max-width: 50vw;
            }
            &--title {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin: 3em 0;
                text-align: center;
                p {
                    padding: 0 1.5em;
                }
            }
            section {
                margin-bottom: 0;
                @include medium_device {
                    margin-bottom: 2em;
                } 
            }
        }
        ul {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2em;
            }
            .price {
                margin-left: 2em;
            }
        }
    }
}
.menu__header--title {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    &::before, 
    &::after {
        content: "";
        flex-grow: 1;
        height: .2em;
        @include medium_device {
            margin-right: .4em;
        }
    }
    &::before {
        margin-right: 1em;
        @include medium_device {
            margin-right: .7em;
        }
    }
    &::after {
        margin-left: 1em;
        @include medium_device {
            margin-left:.7em;
        }
    }
    span::after {
        content: "";
        display: block;
        height: .1em;
        margin-top: .3em;
        transition: width .5s;
        -webkit-transition: width .5s;
        -moz-transition: width .5s;
        -ms-transition: width .5s;
        -o-transition: width .5s;
        width: 0;
    }
    span:hover::after {
        width: 100%;
    }
}


