/* --------------------*/
/* ==   COMPONENTS     */
/*---------------------*/

.btn {
    font-size: 1.3em;
    color: $secondary-color;
    line-height: 0.5;
    background-color: $primary-color;
    padding: 0.2em 1em 1.1em 1em;
    margin: 1.5em auto 8em auto; 
    border: 0px solid transparent;
    border-radius: 0.3em; 
    @include medium_device {
        margin-bottom: 4em;
    }
}
