/* ------------------------*/
/* ==    MAIN ELEMENTS     */
/*-------------------------*/

body {
  font-family: $primary-typography;
  color: $typography-color;
}
.wrapper {
  display: flex;
  flex-flow: column wrap;
}
h1 {
  font-family: $logo-typography;
  font-size: 3em;
  letter-spacing: -0.06em;
  text-align: center;
}
p {
  line-height: 1.6;
}
a {
  color: $secondary-color;
  text-decoration: none;
}
  